*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    text-align: center;
    background-color: #333 ;
    color: #fff;
    padding: 20px;
}
.footer__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    height: 50px;
    width: 50px;
    background-color: #f5f6fa ;
    border-radius: 50px;
    margin: 10px ;
    line-height: 60px;
}

a:hover{
    background-color: black ;
}
a .icon {
    transition: all 0.3s linear;
}
a:hover .icon{
    transform: scale(0.8);
}
.linkedin{
    color: #0e76a8;
}
.github{
    color: #211F1F;
}
.github:hover{
    color: #fff;
}
.instagram{
    color: #e84393;
}